/* NanumBarunGothic */

@font-face {
	font-family:'NanumBarunGothic';
	src: url('../fonts/NanumBarunGothic.eot'); /* IE 호환성 보기*/
	src: local(☺),
		 url('../fonts/NanumBarunGothic.woff2') format('woff2'), /* WOFF2 지원 브라우저 */
		 url('../fonts/NanumBarunGothic.woff') format('woff'), /* IE 9+, 모던 브라우저 */
		 url('../fonts/NanumBarunGothic.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'NanumBarunGothic';
	src: url('../fonts/NanumBarunGothicBold.eot');
	src: local(☺),
		 url('../fonts/NanumBarunGothicBold.woff2') format('woff2'),
		 url('../fonts/NanumBarunGothicBold.woff') format('woff'),
		 url('../fonts/NanumBarunGothicBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'NanumBarunGothic';
	src: url('../fonts/NanumBarunGothicLight.eot');
	src: local(☺),
		 url('../fonts/NanumBarunGothicLight.woff2') format('woff2'),
		 url('../fonts/NanumBarunGothicLight.woff') format('woff'),
		 url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
